$twitchPurple: #64449b;
$successGreen: #007236;
$errorRed: #790000;
/* avatars */

$avatarPurple: #91268f;
$avatarPurpleDark: #591d5b;
$avatarBlue: #00adef;
$avatarBlueDark: #037ba0;
$avatarPink: #ed2a7b;
$avatarPinkDark: #a02c61;
$avatarOrange: #f7931d;
$avatarOrangeDark: #9d5b25;
$avatarGreen: #009344;
$avatarGreenDark: #095128;
$avatarBrown: #8a5d3b;
$avatarBrownDark: #60402b;
$avatarYellow: #d6df23;
$avatarYellowDark: #9a9a3a;
$avatarRed: #be1e2d;
$avatarRedDark: #761117;