<div class="toolbar toolbar-top app-drag">
    <ul>
        <li>
            <button class="btn-close app-no-drag" ng-click="minimize()">
                <i class="fa fa-window-minimize"></i>
            </button>
        </li><li>
            <button class="btn-close app-no-drag" ng-click="toggleMaximize()">
                <i class="fa fa-window-maximize" ng-class="{ 'fa-window-maximize': !isMaximized(), 'fa-window-restore': isMaximized() }"></i>
            </button>
        </li><li>
            <button class="btn-close app-no-drag" ng-click="close()">
                <i class="fa fa-window-close"></i>
            </button>
        </li>
    </ul>
    <button type="button" class="btn-friends app-no-drag" ng-click="friendsOpen()" ng-if="isLoggedIn()">
        <div class="friends-online">
            0
        </div><div class="friends-icon">
            <i class="fa fa-users"></i>
        </div>
    </button>
</div>