<div class="lobby-create" layout="column" layout-fill>
    <form ng-submit="createLobby()" ng-disabled="loading">
        <div class="game-title-bar">
            <div class="app-back">
                <button type="button" class="btn-app-back" ui-sref="app.games.home">
                    <i class="fa fa-chevron-left"></i>
                </button>
            </div>
            <h1 class="game-title">Game Title</h1>
        </div>
        <div class="section-title">
            <h2>Create Game</h2>
        </div>
        <div class="game-type" layout="row">
            <button type="button" class="game" ng-class="{ 'active': selectedGame === game }" ng-repeat="game in games track by $index" ng-click="setGame(game)" ng-disabled="loading">
                {{game.name}}
            </button>
        </div>
        <div class="lobby-name">
            <md-input-container class="md-block">
                <label for="lobbyName">Lobby Name</label>
                <input type="text" id="lobbyName" name="lobbyName" value="" ng-model="lobbyName" ng-disabled="loading" autofocus>
            </md-input-container>
        </div>
        <div class="lobby-settings">
            <md-checkbox ng-model="public">
                Public Lobby
            </md-checkbox>
        </div>
        <div class="lobby-submit">
            <button type="submit" class="btn" ng-disabled="loading">
                <div class="loading" ng-if="loading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                Make Lobby
            </button>
        </div>
    </form>
</div>