<div class="lobby-join" layout="column" layout-fill>
    <form ng-submit="joinLobby(lobbyCode)" ng-disabled="loading">
        <div class="game-title-bar">
            <div class="app-back">
                <button type="button" class="btn-app-back" ui-sref="app.games.home" ng-disabled="loading">
                    <i class="fa fa-chevron-left"></i>
                </button>
            </div>
            <h1 class="game-title">Game Title</h1>
        </div>
        <div class="section-title">
            <h2>Join Game</h2>
        </div>
        <div class="lobby-join m-b-lg">
            <div class="lobby-code">
                <md-input-container class="md-block">
                    <label for="lobbyCode">Code</label>
                    <input type="text" id="lobbyCode" name="lobbyCode" value="" ng-model="lobbyCode" maxlength="4" ng-disabled="loading" autofocus>
                </md-input-container>
            </div>
        </div>
        <div class="lobby-submit" layout="row" layout-align="center start">
            <button type="submit" class="btn" ng-disabled="loading">
                <div class="loading" ng-if="loading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                Join Game
            </button>
        </div>
    </form>
</div>