.app-avatar {
    &.pill {
        background: url(../img/avatars/pill.png) no-repeat;
    }

    &.circle {
        background: url(../img/avatars/circle.png) no-repeat;
    }

    &.purple {
        background-position: 0px 0px;
    }
    &.blue {
        background-position: -128px 0px;
    }
    &.pink {
        background-position: -256px 0px;
    }
    &.orange {
        background-position: -384px 0px;
    }
    &.green {
        background-position: -512px 0px;
    }
    &.brown {
        background-position: -640px 0px;
    }
    &.yellow {
        background-position: -768px 0px;
    }
    &.red {
        background-position: -896px 0px;
    }
}