@import 'colors';

/* buttons */
.btn {
    padding: 20px;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    border: 2px solid rgba(255,255,255,.3);
    background: rgba(white, .1);
    width: 300px;

    outline: none;
    transition: background .2s ease-in, border .2s ease-in;
    
    &:hover {
        border: 2px solid rgba(white,.8);
        background: rgba(white, .4);
    }
}

.btn-clear {
    color: white;
    
    background: transparent;
    border: none;
    outline: none;
}