@import 'partials/colors';

.lobbies {
    
    .game-title-bar {
        position: relative;

        .app-back {
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 10px;

            .btn-app-back {
                color: rgba(255,255,255,.3);
                transition: color .2s ease-in;
                font-size: 30px;
                background-color: transparent;

                &:hover {
                    color: rgba(255,255,255,.8);
                }
            }/* btn-app-back */
        }/* app-back */

        .game-title {
            text-align: center;
            font-size: 25px;
            color: white;
            padding: 10px 0px;
            text-transform: uppercase;
        }
    }/* game-title-bar */
    
    .lobby-create {
        
        .section-title {
            margin: 20px 20px 0px 20px;
            font-size: 15px;
            color: white;
            text-transform: uppercase;
        }
        
        .game-type {
            margin: 20px 20px 0px 20px;
            
            .game {
                margin: 0px 20px 20px 0px;
                display: inline-block;
                width: 176px;
                height: 112px;
                background: rgba(0,0,0,.2);
                border: 2px solid rgba(255,255,255,.3);
                box-shadow: 0px 0px 5px rgba(0,0,0,.4);
                
                text-align: center;
                line-height: 112px;
                font-size: 15px;
                color: rgba(255,255,255,.3);
                
                transition: border .2s ease-in, color .2s ease-in;
                cursor: pointer;
                
                &:nth-child(4n) {
                    margin-right: 0px;
                }
                
                &.active {
                    border: 2px solid rgba(255,255,255,.8);
                    color: rgba(255,255,255,.8);
                }
            }/* game */
        }/* game-type */
        
        .lobby-name {
            margin: 0px 20px 20px 20px;
            
            label {
                padding-left: 14px;
                color: rgba(255,255,255,.3);
                font-size: 20px;
                transform: translate3d(0, 42px, 0);
                transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            }
            
            .md-input-focused {
                label {
                    transform: translate3d(0, 0px, 0);
                    color: rgba(255,255,255,.8);
                    font-size: 10px;
                    padding-left: 7px;
                }
            }
            
            input {
                display: block;
                border: 2px solid rgba(255,255,255,.3);
                background: rgba(255,255,255,.1);
                padding: 12px 12px;
                color: white;
                font-size: 20px;
                height: auto;
                
                transition: border .2s ease-in;
                
                &:hover,
                &:focus {
                    border: 2px solid rgba(255,255,255,.8);
                }
            }
        }
        
        .lobby-submit {
            text-align: center;
        }
    }/* lobby-create */
    
    .lobby {
        
        .game-name {
            margin: 50px 20px 20px;
            color: white;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
        }
        
        .game-code {
            margin: 20px;
            color: white;
            font-size: 40px;
            text-align: center;
            text-transform: uppercase;
        }
        
        .player-slots-wrapper {
            margin: 20px 20px 50px;
            
            .player-slots {
                margin: 0px;
                text-align: center;
                
                .player-slot {
                    margin-right: 20px;
                    list-style: none;
                    opacity: 0.3;
                    
                    &.slot-filled {
                        opacity: 1;
                    }
                    
                    &:nth-child(8n) {
                        margin-right: 0px;
                    }
                    
                    .player-leader {
                        margin: 0px 0px 10px;
                        width: 100%;
                        height: 15px;
                        
                        &.is-leader {
                            background: url(../img/leader.png) no-repeat center center;
                        }
                    }
                    
                    .player-wrapper {
                        outline: none;
                        
                        .player-avatar-wrapper {
                            position: relative;
                            text-align: center;

                            .player-avatar {
                                display: inline-block;
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                                border: 2px solid white;
                            }

                            .locked {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-top: -13px;
                                margin-left: -10px;
                                width: 20px;
                                height: 20px;
                                font-size: 20px;
                                line-height: 20px;
                                text-align: center;
                                color: white;
                            }
                        }

                        .player-username {
                            margin: 10px 0px 0px;
                            color: white;
                            font-size: 10px;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        
        .lobby-settings {
            margin: 20px;
            text-align: center;
        }
        
        .lobby-submit {
            text-align: center;
        }
        
    }
}/* lobbies */

.player-context-menu {
    padding: 0px;
    background-color: transparent;
    border: 2px solid white;

    .player-context-menu-title {
        padding: 4px 12px 6px;
        font-size: 15px;
        color: black;
        background: white;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    md-menu-item {
        height: 30px;
        min-height: 30px;
        min-width: 200px;
        
        button {
            margin: 0px;
            color: white;
            background: black;
            border: none;
            outline: none;
            border-bottom: 2px solid white;
            text-align: left;
            padding: 0 10px;
            transition: background .2s ease-in;
            
            &:hover {
                background: $twitchPurple;
            }
        }

        &:last-child {
            button {
                border-bottom: none;
            }
        }


    }                
}