@import 'partials/menus';
@import 'partials/avatars';

.toolbar {
    position: absolute;
    text-align: right;

    &.toolbar-top {
        padding: 10px;
        top: 0px;
        right: 0px;
        
        .btn-friends {
            margin-top: 10px;
            width: auto;
            height: 32px;
            border: 1px solid rgba(white, .3);
            background: rgba(black, .1);
            text-align: left;

            .friends-online,
            .friends-icon {
                display: inline-block;
                width: 30px;
                height: 30px;
                color: white;
                line-height: 30px;
                text-align: center;
            }

            .friends-online {
                width: 31px;
                border-right: 1px solid rgba(white, .3);
            }

            .friends-icon {

            }
        }
    }
    
    &.toolbar-bottom {
        bottom: 0px;
        left: 0px;
        right: 0px;
        
        .toolbar-left,
        .toolbar-right {
            padding: 10px;
            position: absolute;
            bottom: 0px;
        }
        
        .toolbar-left {
            left: 0px;
        }
        
        .toolbar-right {
            right: 0px;
        }
    }

    ul {
        margin-bottom: 0px;

        li {
            margin-right: 10px;
            display: inline-block;
            list-style: none;

            &:last-child {
                margin-right: 0px;
            }
            
            button {
                border: none;
                background: transparent;
                outline: none;
                font-size: 30px;
                color: rgba(255,255,255,.3);
                transition: color .2s ease-in;
                
                &.btn-settings {
                    margin-right: 20px;
                }

                &.btn-close {
                }
                
                &:hover {
                    color: rgba(255,255,255,.8);
                }
            }
        }
    }
    
    .profile {
        position: relative;
        background: transparent;
        border: none;
        outline: none;
        height: 50px;
        
        .username {
            position: absolute;
            right: 80px;
            bottom: 18px;
            color: rgba(white, .5);
            font-size: 15px;
            line-height: 15px;
            text-align: right;
            transition: color .2s ease-in;
        }
        
        .avatar {
            position: absolute;
            right: -34px;
            bottom: -34px;
            width: 128px;
            height: 128px;
            transform: scale(.75);
            opacity: .5;
            transition: opacity .2s ease-in;
            
            @extend .app-avatar;
        }
        
        &:hover {
            .username {
                color: rgba(white, .8);
            }
            
            .avatar {
                opacity: .8;
            }
        }
    }
}

.profile-menu-content {
    @extend .app-context-menu;
}