@import 'partials/menus';

.toolbar {
    position: absolute;
    text-align: right;

    &.toolbar-top {
        padding: 10px;
        top: 0px;
        right: 0px;
    }
    
    &.toolbar-bottom {
        bottom: 0px;
        left: 0px;
        right: 0px;
        
        .toolbar-left,
        .toolbar-right {
            padding: 10px;
            position: absolute;
            bottom: 0px;
        }
        
        .toolbar-left {
            left: 0px;
        }
        
        .toolbar-right {
            right: 0px;
        }
    }

    ul {
        margin-bottom: 0px;

        li {
            margin-right: 10px;
            display: inline-block;
            list-style: none;

            &:last-child {
                margin-right: 0px;
            }
            
            button {
                border: none;
                background: transparent;
                outline: none;
                font-size: 30px;
                color: rgba(255,255,255,.3);
                transition: color .2s ease-in;
                
                &.btn-settings {
                    margin-right: 20px;
                }

                &.btn-close {
                }
                
                &:hover {
                    color: rgba(255,255,255,.8);
                }
            }
        }
    }
    
    .profile {
        position: relative;
        background: transparent;
        border: none;
        outline: none;
        height: 50px;
        
        .username {
            position: absolute;
            right: 70px;
            bottom: 18px;
            color: rgba(white, .5);
            font-size: 15px;
            line-height: 15px;
            text-align: right;
            transition: color .2s ease-in;
        }
        
        .avatar {
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid rgba(white, .5);
            transition: border .2s ease-in;
        }
        
        &:hover {
            .username {
                color: rgba(white, .8);
            }
            
            .avatar {
                border: 2px solid rgba(white, .8);
            }
        }
    }
}

.profile-menu-content {
    @extend .app-context-menu;        
}