<div class="friends-list">
    <div class="title">
        <button type="button" class="btn-friends-close" ng-click="close()">
            <i class="fa fa-close"></i>
        </button>
        <h1>Friends</h1>
    </div>
    <div class="friends-list-toolbar">
        <button type="button" class="btn-add-friend">
            Add Friend
        </button><!--
        --><md-input-container class="friend-search-container md-no-float">
            <label for="friend-search">Search</label>
            <input type="text" id="friend-search" name="friendSearch" ng-model="filters.friendSearch" ng-change="">
        </md-input-container>
    </div>
    <div class="sections-wrapper" app-scrollbar>
        <div class="section online" friends-list-section>
            <div class="section-title" ng-click="toggleOpen()">
                Online
            </div>
            <div class="friends-wrapper">
                <div class="friend">
                    <div class="friend-icon">
                        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/codephobia-profile_image-0e9bde2f38dddb8c-70x70.jpeg" alt="codephobia">
                    </div><!--
                    --><div class="friend-info">
                        <h1>codephobia</h1>
                        <h2>Title Screen</h2>
                    </div><!--
                    --><div class="friend-status"></div>
                </div>
                <div class="friend">
                    <div class="friend-icon">
                        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/codephobia-profile_image-0e9bde2f38dddb8c-70x70.jpeg" alt="codephobia">
                    </div><!--
                    --><div class="friend-info">
                        <h1>codephosdasdasdasdasdasdasbia</h1>
                        <h2>Title Screen</h2>
                    </div><!--
                    --><div class="friend-status"></div>
                </div>
            </div>
        </div>
        <div class="section offline" friends-list-section>
            <div class="section-title" ng-click="toggleOpen()">
                Offline
            </div>
            <div class="friends-wrapper">
                <div class="friend">
                    <div class="friend-icon">
                        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/codephobia-profile_image-0e9bde2f38dddb8c-70x70.jpeg" alt="codephobia">
                    </div><!--
                    --><div class="friend-info">
                        <h1>codephobia</h1>
                        <h2>2 days ago</h2>
                    </div><!--
                    --><div class="friend-status"></div>
                </div>
                <div class="friend">
                    <div class="friend-icon">
                        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/codephobia-profile_image-0e9bde2f38dddb8c-70x70.jpeg" alt="codephobia">
                    </div><!--
                    --><div class="friend-info">
                        <h1>codephobia</h1>
                        <h2>2 days ago</h2>
                    </div><!--
                    --><div class="friend-status"></div>
                </div>
            </div>
        </div>
        <div class="section requests" friends-list-section>
            <div class="section-title" ng-click="toggleOpen()">
                Requests
            </div>
            <div class="friends-wrapper">
                <div class="friend">
                    <div class="friend-icon">
                        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/codephobia-profile_image-0e9bde2f38dddb8c-70x70.jpeg" alt="codephobia">
                    </div><!--
                    --><div class="friend-info">
                        <h1>codephobia</h1>
                        <h2>2 days ago</h2>
                    </div><!--
                    --><div class="friend-actions">
                        <button type="button" class="approve"></button><!--
                        --><button type="button" class="decline"></button>
                    </div>
                </div>
                <div class="friend">
                    <div class="friend-icon">
                        <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/codephobia-profile_image-0e9bde2f38dddb8c-70x70.jpeg" alt="codephobia">
                    </div><!--
                    --><div class="friend-info">
                        <h1>codephobia</h1>
                        <h2>2 days ago</h2>
                    </div><!--
                    --><div class="friend-actions">
                        <button type="button" class="approve"></button><!--
                        --><button type="button" class="decline"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>